@model IEnumerable<Shop.Models.Product>

@{
    ViewData["Title"] = "Список продукции";
}

<h2>Список продукции</h2>

<p>
    <a href="/products/add" >Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Price)
            </td>
            <td>
                <a href="products/@(product.Id)/addToCart" class="btn btn-info">Заказать</a> |
                <a href="products/edit/@(product.Id)" class="btn btn-default">Редактировать</a>|
                <a asp-action="Details" asp-route-id="@product.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@product.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
